
html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navbar Style */


.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1140px;
    margin: 0 auto;

}

.mobile-menu,
.mobile-cart {
    display: none;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 1.2em;
    list-style: none;


}

.nav-menu h1 {
    font-size: 1.5em;
}

.hero-section {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px auto;
    align-items: center;
}

.hero-title {
    color: #3A3A3A;
    max-width: 500px;
}

.hero-title h1 {
    font-size: 2.5em;

}

.hero-img {
    background-image: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.camera-img {
    width: 70%;
    max-width: 440px;
    height: auto;
    display: block;
}

.btn-primary {
    background-color: #E02C6D;
    padding: 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    border-style: none;
    margin-top: 16px;
}

@media screen and (max-width:576px) {
    body{
        overflow-y: hidden;        

    }
    
    .navbar {
        max-width: 340px;
        display: grid;
        grid-template-columns: 40px 1fr 40px;
        align-items: center;
        padding: 15px 25px;
        box-sizing: border-box;
        
        margin: 0 ;
        
    }

    .mobile-menu {
        display: block;
        font-size: 20px;
    }

    .nav-title {
        text-align: center;
    }

    .nav-menu {
        display: none;
    }

    .nav-title h2 {
        font-size: 16px;
        margin: 0;
    }

    /* Mobile cart */
    .mobile-cart {
        display: block;
        text-align: right;
        font-size: 20px;
        
    }

    .hero-section {
        display: flex;
        flex-direction: column-reverse;
        max-width: 350px;
        
        padding: 20px;
    }

    .hero-img {
        width: 100%;
        max-width: 300px;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;

    }
    .camera-img{
        width: 100%;
        max-width: 220px;   /* প্রয়োজনে adjust করুন */
        height: auto;
        
    }

    .hero-title {
        max-width: 350px;
        margin: 0 auto;
        font-size: 0.7em;

        text-align: center;
        
    }
}